<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="All" fileName="${sys:logPath}/full_log.txt">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <File name="Base" fileName="${sys:logPath}/logs.txt">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <File name="Rewards" fileName="${sys:logPath}/rewards.txt">
      <PatternLayout pattern="%msg%n"/>
    </File>
    <File name="States" fileName="${sys:logPath}/states.txt">
      <PatternLayout pattern="%msg%n"/>
    </File>
    <File name="Table" fileName="${sys:logPath}/table.txt">
      <PatternLayout pattern="%msg%n"/>
    </File>
    <File name="Energy" fileName="${sys:logPath}/energy.txt">
      <PatternLayout pattern="%msg%n"/>
    </File>
    <File name="Environment" fileName="${sys:logPath}/env.txt">
      <PatternLayout pattern="%msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="All"/>
    </Root>
    <Logger name="base">
      <AppenderRef ref="Base"/>
    </Logger>
    <Logger name="rewards">
      <AppenderRef ref="Rewards"/>
    </Logger>
    <Logger name="states">
      <AppenderRef ref="States"/>
    </Logger>
    <Logger name="table">
      <AppenderRef ref="Table"/>
    </Logger>
    <Logger name="energy">
      <AppenderRef ref="Energy"/>
    </Logger>
    <Logger name="environment">
      <AppenderRef ref="Environment"/>
    </Logger>
  </Loggers>
</Configuration>
